@font-face {
    font-family: Mono;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/SuisseIntlMono-Bold-WebXL.woff2');
}

@font-face {
    font-family: Mono;
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/SuisseIntlMono-Thin-WebXL.woff2');
}

@font-face {
    font-family: Works;
    font-weight: 500;
    font-style: italic;
    src: url('../fonts/SuisseWorks-BoldItalic-WebXL.woff2');
}

@font-face {
    font-family: Works;
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/SuisseWorks-RegularItalic-WebXL.woff2');
}

@font-face {
    font-family: Works;
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/SuisseWorks-Regular-WebXL.woff2');
}

@font-face {
    font-family: Works;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/SuisseWorks-Bold-WebXL.woff2');
}